{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} apos-tumblr-editor
{% endblock%}

{% block modalLabel %}
    {{ __('Select Flickr Set') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __("Enter your Tumblr's URL below.") }}</p>
{% endblock %}

{% block formBody %}

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-tumblr-url" data-name="tumblrUrl">
    <label>Tumblr URL</label>
    <input name="tumblrUrl" type="text" class="apos-tumblr-url">
  </fieldset>

  {{ formSelect('tumblrLimit', 'Number of Posts:', [{value:1, label:"1"}, {value:5, label:"5"}, {value:10, label:"10"}] )}}


{% endblock %}
