{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} apos-tumblr-editor
{% endblock%}

{% block modalLabel %}
    {{ __('Select Flickr Set') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __("Enter your Tumblr's URL below.") }}</p>
{% endblock %}

{% block formBody %}

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-tumblr-url" data-name="tumblrUrl">
    <label>Tumblr URL</label>
    <input name="tumblrUrl" type="text" class="apos-tumblr-url">
  </fieldset>

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-tumblr-limit" data-name="tumblrLimit">
    <label>Number of Posts:</label>
    <input name="tumblrLimit" type="text" class="apos-input-narrow">
  </fieldset>

{% endblock %}
